/*
Error: Invalid CSS after "...lor-config: mat": expected "}", was ".get-color-conf..."
        on line 19 of navigation.component.scss-theme.scss

14:   $foreground: map-get($theme, foreground);
15: 
16:     $background: map-get($theme, background);
17:     $foreground: map-get($theme, foreground);
18: 
19:     $color-config: mat.get-color-config($theme);
20:     $typography-config: mat.get-typography-config($theme);
21:     @if $color-config != null {
22:         @include app-navigation-color($color-config);
23:     }
24:     @if $typography-config != null {

Backtrace:
navigation.component.scss-theme.scss:19
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:1305:in `expected'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:1235:in `expected'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:1230:in `tok!'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:690:in `block'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:246:in `mixin_directive'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:234:in `special_directive'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:209:in `directive'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:707:in `block_child'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:700:in `block_contents'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:41:in `parse'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/engine.rb:414:in `_to_tree'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/exec/base.rb:50:in `parse'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/exec/base.rb:18:in `parse!'
/Users/meanstack02/.gem/gems/sass-3.7.0/bin/sass:13:in `<top (required)>'
/Users/meanstack02/.gem/bin/sass:23:in `load'
/Users/meanstack02/.gem/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...lor-config: mat\": expected \"}\", was \".get-color-conf...\"\A         on line 19 of navigation.component.scss-theme.scss\A \A 14:   $foreground: map-get($theme, foreground);\A 15: \A 16:     $background: map-get($theme, background);\A 17:     $foreground: map-get($theme, foreground);\A 18: \A 19:     $color-config: mat.get-color-config($theme);\A 20:     $typography-config: mat.get-typography-config($theme);\A 21:     @if $color-config != null {\A 22:         @include app-navigation-color($color-config);\A 23:     }\A 24:     @if $typography-config != null {"; }
