@use 'sass:map';
@use '@angular/material';
@use '@angular/material/theming';

@mixin app-navigation-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $color-config: material.get-color-config($theme);
    $typography-config: material.get-typography-config($theme);
    @if $color-config != null {
        @include app-navigation-color($color-config);
    }
    @if $typography-config != null {
        @include app-navigation-typography($typography-config);
    }
}


@mixin app-navigation-color($config) {
    $primary: map.get($config, primary);
    $accent: map.get($config, accent);
    $warn: map.get($config, warn);
    $background: map.get($config, background);
    $foreground: map.get($config, foreground);

    app-navigation {
        background-color: theming.mat-color($background, background);
    }
    h1 {
        color: theming.mat-color($foreground, text);
    }
}


@mixin app-navigation-typography($config) {
    app-navigation {
        h1 {
            @include theming.mat-typography-level-to-styles($config, title);
        }
    }
}
