@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:math';
@use 'sass:string';
@use '@angular/material';
@use '@angular/material/_theming';

@use 'bootstrap/scss/bootstrap-reboot';
@use 'bootstrap/scss/bootstrap-grid';

@include material.core();

@import 'theme-defs/default-theme';
@import 'theme/theme-defs/light-theme';
@import 'theme-defs/black-theme';
@import 'theme-defs/nature-theme';

//@import 'libs/../apps/e2-ask/src/app/app.component.scss-theme';
//@import 'libs/../apps/e2-ask/src/app/tabs/tabs.component.scss-theme';

@import 'theme/styles-reset';
@import 'theme/styles-reset.scss-theme';

@mixin custom-components-theme($theme) {
    @include styles-reset-theme($theme);
}

.default-theme {
    @include theming.all-component-themes($starter-theme);
    @include custom-components-theme($starter-theme);
}

.light-theme {
    @include theming.all-component-themes($starter-light-theme);
    @include custom-components-theme($starter-light-theme);
}

.black-theme {
    @include theming.all-component-themes($starter-black-theme);
    @include custom-components-theme($starter-black-theme);
}

.nature-theme {
    @include theming.all-component-themes($starter-nature-theme);
    @include custom-components-theme($starter-nature-theme);
}




// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;



/* extension bug addon */
.material-icon {
    font-family: Roboto !important;
}

.material-icons.color_red {
    color: #ff000d;
}

.material-icons.color_green {
    color: #42ff2b;
}

.material-icons.color_grey {
    color: #8a8f94;
}

.mat-dialog-container {
    overflow: hidden !important;
    border-radius: 5px !important;
    border: 0 !important;
    padding: 15px !important;
    margin: 0 !important;

    //padding: 5px !important;

    /* slide down animation for all dialogs */
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.app-loading {
    .logo {
        width: 64px;
        height: 64px;
        background: url('/assets/logo.png') center center no-repeat;
        background-size: cover;
    }
}

.shadow {
    box-shadow: 10px 5px 5px black;
}

html {
    font-size: min(max(1rem, 4vw), 22px);
    font-family: Roboto, monospace;
}

.dead-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
