@use 'sass:map';
@use '@angular/material';
@use '@angular/material/theming';

//@use 'libs/sls-shared-sass/src/lib/theme/theme';
//@use 'libs/sls-shared-sass/src/lib/theme/mechanics/breakpoint';

.app-root {
    display: flex;
    flex-direction: column;
    padding: 2em;

    border: 1px;
    border-color: accent;
}

.root-main {
    display: flex;
    flex-direction: row;
    background: accent;
    color: primary;
}

.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
