@use 'sass:map';
@use '@angular/material';
@use '@angular/material/theming';

@import 'apps/demo/src/app/app.component.scss-theme';
@import 'apps/demo/src/app/navigation/navigation.component.scss-theme';
@import 'apps/demo/src/app/modal/modal.component.scss-theme';

$root-spacing: 0.25em;

$root-typography: theming.mat-typography-config(
    $font-family: 'Roboto',
    $title: theming.mat-typography-level(24px, 32px, bold)
);

@mixin apply-app-typography($typography-config: $root-typography) {
    @include app-component-typography($typography-config);               // feature components
    @include app-navigation-typography($typography-config);
    @include app-modal-typography($typography-config);
}
