/*
Error: Invalid CSS after "@include mat": expected selector or at-rule, was ".core();"
        on line 95 of styles.scss

90: 
91: @import '@angular/material';
92: @import '@angular/material/theming';
93: @import 'breakpoint';
94: 
95: @include mat.core();
96: 
97: $angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
98: $angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
99: $angular-warn: mat.define-palette(mat.$red-palette);
100: 

Backtrace:
styles.scss:95
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:1305:in `expected'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:1235:in `expected'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/scss/parser.rb:42:in `parse'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/engine.rb:414:in `_to_tree'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/exec/base.rb:50:in `parse'
/Users/meanstack02/.gem/gems/sass-3.7.0/lib/sass/exec/base.rb:18:in `parse!'
/Users/meanstack02/.gem/gems/sass-3.7.0/bin/sass:13:in `<top (required)>'
/Users/meanstack02/.gem/bin/sass:23:in `load'
/Users/meanstack02/.gem/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@include mat\": expected selector or at-rule, was \".core();\"\A         on line 95 of styles.scss\A \A 90: \A 91: @import '@angular/material';\A 92: @import '@angular/material/theming';\A 93: @import 'breakpoint';\A 94: \A 95: @include mat.core();\A 96: \A 97: $angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);\A 98: $angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);\A 99: $angular-warn: mat.define-palette(mat.$red-palette);\A 100: "; }
