@use 'sass:map';
@use '@angular/material';
@use '@angular/material/theming';

@use "libs/sls-shared-sass/src/lib" as lib;
@use "libs/sls-shared-sass/src/lib/theme/theme" as theme;
@use "../../../libs/sls-shared-sass/src/lib/theme/mechanics/breakpoint";

@import "../../../libs/sls-shared-sass/src/lib/theme/mechanics/breakpoint";

@mixin cascade ($theme) {
  $color-config: material.get-color-config($theme);
  $typography-config: material.get-typography-config($theme);

  //@include lib.theme-all-component-theme($theme);
  //@include lib.color-all-component-color($color-config);
  //@include lib.typography-all-component-typography($typography-config);

  //@include material.all-component-themes($theme);
  //@include material.all-component-colors($theme);
  //@include material.all-component-typographies($theme);
}

body {
  @extend .mat-app-background  !optional;
  @include cascade(theme.$dark-theme);
}


body.dark {
  @extend .mat-app-background  !optional;
  @include cascade(theme.$dark-theme);
}

.responsive-test {
  @include xs {
    color: red;
    background-color: red;
  }
  @include sm {
    color: blue;
    background-color: blue;
  }
  @include md {
    color: green;
    background-color: green;
  }
  @include lg {
    color: purple;
    background-color: purple;
  }
  @include xl {
    color: orange;
    background-color: orange;
  }
}
